.NestedTableRow {
    cursor: default;
    user-select: none;

    outline: .5px solid rgba(20, 20, 19, 0.08);

    &_content {
        display: grid;
        align-items: center;

        height: 4em;
        padding: 0 2.5em 0 1.5em;

        transition: background-color .2s;

        --min-cell-width: 5em;

        grid-template-columns: max(15em, 10vw) repeat(
            var(--table-columns-count),
            minmax(var(--min-cell-width), 1fr)
        );
        grid-gap: 1em;

        @media (max-width: 900) {
            --min-cell-width: 3em;
        }
    }

    &_control {
        flex: 0.7em 0 0;

        transition: transform .2s;
        transform: rotate(-90deg);

        img {
            width: 100%;
        }
    }

    &_header {
        display: flex;
        align-items: center;
        gap: .8em;
    }

    &_labels {
        font-variation-settings: 'wght' 320;
        color: var(--color-opacity);
        text-align: right;

        white-space: nowrap;
    }

    &_value {
        text-align: right;
        letter-spacing: 0.04em;
    }

    &._expandable {
        cursor: pointer;

        .NestedTableRow_content {
            &:hover {
                background-color: rgba(20, 20, 19, 0.04);
            }
        }
    }

    &._expanded {
        .NestedTableRow_control {
            transform: rotate(0deg);
        }
    }
}
