@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url("../assets/fonts/inter/RegularVF.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    src: url("../assets/fonts/inter/ItalicVF.ttf") format("truetype");
}

:root {
    --border-radius: .5rem;
    --color: rgba(20, 20, 19);
    --color-opacity: rgba(20, 20, 19, 0.6);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-variation-settings: 'wght' 320;
    letter-spacing: 0.01em;

    background-color: rgb(247, 245, 237);
    color: var(--color);
}

h1 {
    font-variation-settings: 'wght' 350;
    font-size: 2.5rem;
    margin: 0;
}

.Page {
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1.5em;

    &_card {
        background: white;
        border-radius: var(--border-radius);
    }
}
